alpineer==0.1.6
ark-analysis==0.6.3
deepcell==0.12.6
ipyfilechooser==0.6.0
imagecodecs==2023.3.16
jupyterlab==3.6.5
matplotlib==3.7.2
numpy==1.22.1
pandas==1.5.3
scikit-image==0.19.3
tqdm==4.65.0
xarray==2023.1.0